<br><center>
  <h3>Update Work Details</h3><br>
  <%= form_with model: @todo do |form| %>
    <%= form.text_field :title, placeholder: "Title" %>
    <%= form.text_field :description, placeholder: "Description" %><br><br>

    <%= form.submit "Edit", :class => "btn btn-primary btn-sm" %>
  <% end %>
</center>
